<main>

    <div class="container">

        <section class="text-center" id="head-up">
            <h4>Specialties</h4>
            <h2>Our Menu</h2>
        </section>


        <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let menuCategory of menu | keyvalue">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ menuCategory.key }}
                    </mat-panel-title>
                    <mat-panel-description>
                        This is a {{ menuCategory.key }} Categories
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!-- <p>Menu item list.</p> -->
                <div id="menu-details-list">
                    <section class="menu-details" *ngFor="let menuItem of menuCategory.value as any">
                        <p>{{ menuItem.name }}</p>
                        <p>{{ menuItem.price | currency:'INR':'symbol'}}</p>
                    </section>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>

</main>